In [2]:
from openalgo import api

# Initialize the API client
client = api(api_key='917dd42d55f63ae8f00117abfbe5b05465fc3bd76a3efbee3be7c085df0be579', host='http://127.0.0.1:5000')

# Fetch historical data for SBIN
df = client.history(
    symbol="SBIN",
    exchange="NSE",
    interval="D",
    start_date="2025-01-01",
    end_date="2025-01-24"
)

df

             close    high     low    open    volume
timestamp
2025-01-01  793.20  798.65  789.50  795.55   7273098
2025-01-02  801.20  802.40  787.00  795.00  11398319
2025-01-03  793.40  809.50  792.15  801.20  13336514
2025-01-06  776.40  797.60  773.15  797.40  11419367
2025-01-07  778.75  783.85  774.85  779.85   9669152
2025-01-08  771.15  783.95  760.10  780.90  15641490
2025-01-09  760.45  771.35  726.25  771.15  15351029
2025-01-10  743.25  763.40  742.05  760.35  11779296
2025-01-13  729.50  743.95  722.50  741.50  10414733
2025-01-14  748.15  757.00  732.95  732.95  11960975
2025-01-15  753.70  758.90  750.00  753.15   7792299
2025-01-16  766.30  776.70  760.40  760.40  11816079
2025-01-17  764.10  767.95  759.40  766.30   5766573
2025-01-20  779.25  785.00  767.85  769.00   9198929
2025-01-21  759.05  784.90  756.05  784.80  13751780
2025-01-22  753.45  763.00  738.00  762.00   9908339
2025-01-23  745.90  755.65  743.10  750.00  10986405
2025-01-24  744.15  753.70  739.00  749.90  10579213